
#inizio_pagina{
    width: auto;
    height: auto;
    background-image: url(./img/pattern.png);
    background-size: 45%;
    background-color: rgba(0, 153, 255, 0.993);
    
}
.logo_boolean{
    text-align: left;
    width: 10rem;
    height: 10rem;

}
.titolo{
width: auto;
font-size: 3em;
margin: 0em;

}
.sottotitolo{
    color: grey;
    font-size: 1.1em;
    margin:0em;
}
.sottotitolo1{
    color: grey;
    font-size: 0.8em;
    margin: 0em;
    padding-bottom: 1em;
}
.nome{
    color: lightskyblue;
}

.didascalia{
    margin: 0em;
    font-size: 10px ;
}

.lista{
    padding: 1em;
}

.tab0{
color:white ;
background-color: rgb(47, 186, 204);

}

.tab1{
background-color: rgb(145, 230, 236);
}

.tab2{
background-color: white;
}

.testo {
    background-color: yellow;
}

.testo2{
   color: grey;
}

.la1{
color:white ;
background-image: url(./img/monitor.jpg);
width: 17rem;
height: 13rem;
margin-top: 7px;
}

.la2{
color:white ;
background-image: url(./img/graph.jpg);
width: 17rem;
height: 13rem;
}
.cont1{
        position:relative;
    top: 15px;
    left:15px;
}
.cont2{
        position:relative;
    top: 15px;
    left:15px;
}