
#inizio_pagina{
    width: auto;
    height: auto;
    background-image: url(./img/pattern.png);
    background-size: 45%;
    background-color: rgba(0, 153, 255, 0.993);

}
.logo_boolean{
    text-align: left;
    width: 10rem;
    height: 10rem;
}
.titolo{
width: auto;
font-size: 3em;
margin: 0em;

}
.sottotitolo{
    color: grey;
    margin:0em;
}
.nome{
    color: lightskyblue;
}



.didascalia{
    margin: 0em;
    font-size: 10px ;
}

.lista{
    padding: 1em;
}